{% extends 'core/base.html' %}
{% load static %}


{% block extra_head %}

    <link rel="stylesheet" href="{% static 'core/css/add_item.css' %}">

{% endblock %}


{% block base_content %}

    <div class="content">
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
<!--            <form method="post">-->
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Далее</button>
            </form>
        </div>
    </div>

{% endblock %}