{% load static %}

<div class="recipe-card">
    <div class="recipe-card-img-wrap">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% else %}
            <img src="{% static 'core/images/item_card.png' %}" alt="{{ item.name }}">
        {% endif %}
    </div>
    <div class="recipe-info">
        <div>
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
        </div>
        <a href="{% url 'core:item' item.id %}" class="recipe-card-button">Перейти к рецепту</a>
    </div>
    <div class="icon-container">
        {% if profile %}
            <a href="#">
                <button>
                    <img src="{% static 'core/images/edit.png' %}" alt="Редактировать" class="icon">
                </button>
            </a>
            <form method="post">
                {% csrf_token %}
                    <input type="hidden" name="item_to_remove" value="{{ item.id }}">
                    <button name="action" value="remove_item" type="submit">
                        <img src="{% static 'core/images/remove.png' %}" alt="Удалить" class="icon">
                    </button>
            </form>
<!--            <a href="#"><img src="{% static 'core/images/remove.png' %}" alt="Удалить" class="icon"></a>-->
        {% else %}
            <a href="#">
                <button>
                    <img src="{% static 'core/images/bookmark_not_saved.png' %}" alt="Сохранить" class="icon">
                </button>
            </a>
        {% endif %}
    </div>
</div>