{% extends 'core/base_with_header.html' %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'core/css/item_card.css' %}">

{% endblock %}


{% block content %}

    {% if items %}

        <div class="container">
            {% for item in items %}
                {% include 'core/card.html' with profile=False %}
            {% endfor %}
        </div>

    {% else %}

        <div>Упс! Что-то сломалось или пока нет рецептов...</div>

    {% endif %}

{% endblock %}