{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <title>Семейные рецепты</title>
	<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/item_card.css' %}">
</head>
<body>
    <header>
        {% include 'core/header.html' %}
    </header>
    <div class="content">
        <div class="container">
            {% for item in items %}
                {% include 'core/card.html' %}
            {% endfor %}
        </div>
    </div>
</body>
</html>