{% extends 'core/base_with_header.html' %}
{% load static %}


{% block extra_head %}

<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/item_card.css' %}">

{% endblock %}


{% block base_content %}

    <div class="profile-container">
        <img src="{% static 'core/images/profile.png' %}" alt="Фотография пользователя" class="profile-photo">
        <div class="info-container">
            <div class="name-container">
                <h1 class="name">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                <p class="username">@{{ request.user.username }}</p>
            </div>
        </div>
        <div class="button-container">
            <a href="#"><img src="{% static 'core/images/edit_profile.png' %}" alt="Изменение профиля" class="add-item"></a>
            <a href="{% url 'core:logout' %}"><button class="logout-button">Выйти</button></a>
        </div>
    </div>
    <div class="add-recipe-container">
        <div class="recipes">
            <span class="recipes-label">Мои рецепты</span>
            <span class="recipes-count">5</span>
        </div>
        <div class="add-recipe-content">
            <span class="add-recipe-label">Добавить новый рецепт</span>
            <a href="{% url 'core:add_item' %}">
                <img src="{% static 'core/images/add_item.png' %}" alt="Добавление рецепта" class="add-item">
            </a>
        </div>
    </div>
    <div class="content">
        {% if items %}

            <div class="container">
                {% for item in items %}
                    {% include 'core/card.html' %}
                {% endfor %}
            </div>

        {% else %}

            <div>Упс! Что-то сломалось или пока нет рецептов...</div>

        {% endif %}
    </div>

{% endblock %}