{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/item_card.css' %}">
    <title>Профиль</title>
</head>
<body>
    <header>
        {% include 'core/header.html' %}
    </header>
    <div class="profile-container">
        <img src="https://via.placeholder.com/200" alt="Фотография пользователя" class="profile-photo">
        <div class="info-container">
            <div class="name-container">
                <h1 class="name">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                <p class="username">@{{ request.user.username }}</p>
            </div>
        </div>
        <div class="button-container">
            <a href="#"><button class="edit-button">&#9998;</button></a>
            <a href="{% url 'core:logout' %}"><button class="logout-button">Выйти</button></a>
        </div>
    </div>
    <div class="add-recipe-container">
        <div class="recipes">
            <span class="recipes-label">Мои рецепты</span>
            <span class="recipes-count">5</span>
        </div>
        <div class="add-recipe-content">
            <span class="add-recipe-label">Добавить новый рецепт</span>
            <button class="add-button">+</button>
        </div>
    </div>
    <div class="content">
        <div class="container">
            {% for item in items %}
                {% include 'core/card.html' %}
            {% endfor %}
        </div>
    </div>
</body>
</html>