body {
  background: linear-gradient(116.44deg, #354B9A 0%, #9AB1D1 40.77%, #AFC6DC 54.88%, #E4C9BE 73.87%, #E3B3E8 99.45%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Comfortaa';
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Подключение шрифтов */
@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}