/* Стили для каталога рецептов */

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.recipe-card {
  display: flex;
  background-color: #EBEAEA;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.recipe-card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.recipe-info {
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  flex-grow: 1;
}

.recipe-info h2 {
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-info p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.recipe-card-button {
  padding: 10px 20px;
  background-color: #354B9A;
  color: #EBEAEA;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-end;
  margin-top: auto;
}

.recipe-card-button:hover {
  background-color: #11215e;
}

/* Стили для иконок */
  .icon-container {
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    gap: 10px;
    padding-right: 20px;
  }

  .icon {
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
  }